/* Import my font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* creating my color variables */
:root {
    --white: #F7F7F7;
    --grey: #EDEDED;
    --grey-dark: #737987;
    --black: #020E26;
    --theme: #507526;
    --theme-og: #7BB03E;
  
    /* form error colors */
    --error-red: #b8001f;
    --error-pink: #ffccd5;
  }
  
  
  html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    transition: 0.25s;
  }
  
  *,
  *:after,
  *:before {
      box-sizing: border-box;
  }
  
  /* Text formatting */
  p, a, figcaption, input, button, .select, .p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: var(--black);
    line-height: 1.75em;
  }
  
  a {transition: all 0.25s linear;}
  a:hover {color: var(--theme);}
  
  h1, h2 {
    font-size: 4em;
    text-transform: lowercase;
    color: var(--black);
  }
  h2 {
    font-size: 2em;
    color: var(--theme);
  }
  
  .variant {
    font-style: italic;
    color: var(--grey-dark);
    font-family: monospace;
  }

  .error {
    color: var(--error-red);
  }
  
  /* nav styles */
  nav {
    width: 100%;
    height: 60px;
    
    position: fixed;
    top: 0; 
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav .links  {
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  nav .links a, .logout input{
    padding: 0 10px;
    text-decoration: none;
    color: var(--theme);
  }
  nav .links a:hover, .logout input:hover {color: var(--theme-og);}

  nav .active {
    font-weight: bold;
  }

  .nav-icon {
    padding: 0 10px;
    font-weight: bold;
    color: var(--theme);
  }

  .logout {
    display: inline;

    width: auto;
    margin: 0;
  }
  
  .logout input {
    width: auto;
    background: none;
    color: var(--theme);

    border: none;
    border-radius: 0;

    padding: 0 10px;
    margin: 0;
  }
  
  .show-user input {
    padding: 0;
    text-decoration: underline !important;
  }

  /* google icons */
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  
  /* main styles */
  
  main {
    min-height: calc(100vh - 230px);
    width: 70vw;
    margin: 80px auto auto auto;
  }

  hr { 
    width: 50%;
    margin-left: 0;
    margin-bottom: 4em;
    border-style: solid;
    border-color: var(--grey); 
    
  }
  
  section .date {
    color: var(--grey-dark);
    margin-top: -1em;
  }
  section .capacity {
    color: var(--theme);
    font-weight: bold;
  }
  section .sessions-block {
    margin-left: 40px;
  }
  .session {margin-bottom: 2em;}
  
  .fab p {
    color: var(--white);
    padding: 0;
    margin: 0 0 -0.5em 0;

  }
  .fab span {
    font-size: 2em;
    opacity: 0.9;
  }
  .fab {
    padding: 0.5em;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;

  }

  .user-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .user-row p {margin-left: 1em;}
  .user-row-link {text-decoration: none;}
  .user-row-link:hover {text-decoration: underline;}


  .action-block {
    display: flex;
    flex-wrap: wrap;
  }
  .action-block div {
    width: 8em;
    height: 8em;
    background-color: var(--grey);
    margin: 1em;
    padding: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-block div:hover {background-color: var(--theme);}
  .action-block a {
    margin: auto;
    text-decoration: none;
    text-align: center;
  }
  .action-block a:hover {color: var(--white);}
  
  /* form styles */
  form, .block {
    width: 100%;
    margin: 1em auto;
  }
  
  input, textarea, .select {
    width: 20em;
    background-color: var(--white);
    border: 2px solid var(--grey);
    border-radius: 50em;
    padding: 10px 20px;
    margin: 5px auto 15px auto;
    outline: none;
    transition: 0.75s;
  }

  input:focus, .select:focus {border-color: var(--theme);}
  input[type="checkbox"] {
    width: auto;
    padding: 0;
    margin: 1em 1em auto auto;
  }

  label {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    color: var(--theme);
    margin-left: 15px;
  }

  textarea {border: 2px solid var(--theme);}
  
  button[type="submit"], .button {margin-top: 2em;}
  button[type="checkbox"] {
    width: auto;
  }

  
  button, .button {
    width: auto;
    background-color: var(--theme);
    color: var(--white);
    border: none;
    border-radius: 50em;
    padding: 0.5em 2em;
    margin: 10px auto;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
  }
  button:hover, .button:hover {background-color: var(--theme-og);}

  .button2 { 
    width: auto;
    text-decoration: none;
    color: var(--theme); 
    background-color: var(--grey);
    padding: 0.5em 2em;
    border-radius: 50em;
    margin: 1em auto;
  }
  .button2:hover {background-color: var(--theme); color: var(--grey);}

  .unregister {
    color: var(--error-red);
    background: none;
    text-decoration: underline;
    font-weight: normal;

    padding: 0.5em 0;
    border-radius: 0;
    margin: auto 0;
  }
  .unregister:hover {color: var(--error-pink); background: none;}

  .delete {
    color: var(--error-red);
    margin-left: 1em;
  }
  .delete:hover {background-color: var(--error-pink); color: var(--error-red);}
  
  /* footer */
  footer {
    margin-top: 60px;
    width: 100vw;
    padding: 20px;
    text-align: center;
    background-color: var(--theme-light);
  }
  
  footer a { color: var(--theme); }
  footer a:hover {color: var(--theme-og);}
  
  
  